.banner-imagem {
    background-image: url("../../img/banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 0) {
    .banner-imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner-imagem {
        height: calc(100vh - 72px);
    }
}
