.banner-imagem {
    background-image: url("../../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 72px);
    width: 100%;
    background-repeat: no-repeat;
}
